body {
    margin: 0px;
    padding: 0px;
    font-family: Arial;
    font-weight: 100;
}

header {
    grid-column: 1/span 6;
    grid-row: 1/span 1;
    background-color: #EA5045;
    display: grid;
    grid-template-columns: 60px 1fr 1fr 1fr 60px;
}

header #kea {
    width: 120px;
    grid-column: 4/span 1;
    margin: auto;
}

header #burgerMenu {
    width: 40px;
    margin: auto;
    grid-column: 1/span 1;
}

header #messages {
    width: 50px;
    margin: auto;
    grid-column: 5/span 1;
}

main {
    margin: 20px;
}

main button {
    border: 0px;
    background-color: #EA5045;
    padding: 10px;
    font-size: 12px;
    color: white;
    width: 90px;
}

h4 {
    background-color: black;
    padding: 10px;
    color: white;
    font-size: 18px;
}

a {
    color: black;
    font-size: 20px;
}

p button {
    margin-left: 30px;
}

.red {
    color: red;
    margin-left: 20px;
}

.right {
    margin-left: 100px;
}

#wrapper {
    display: grid;
    grid-template-columns: 1fr 90px;
}

#wrapper h4{
    grid-column: 1/span 1;
}

#close {
    background-color: black;
    padding: 0px;
    margin-top: 23.5px;
    grid-column: 2/span 1;
    height: 40.5px;
    font-size: 22px;
    padding-left: 40px;
}

/* Side Menu */

#menu {
    display: none;
}

.sideMenu2 {
    z-index: 1;
    top: 60px;
    left: 0;
    width: 250px;
    height: 100%;
    background-color: black;
    overflow-x: hidden;
    position: fixed;
    border-right: 1px solid #202020;
    animation: moveRight 0.5s 1 forwards;
}

#elemInsideMenu {
    opacity: 0;
     animation: opacity 0.5s 1 0.5s forwards;
}

.moveRight {
    animation: moveRight 0.5s 1 forwards;
}

.opacityHigh {
    animation: opacity 0.5s 1 0.5s forwards;
}

@keyframes moveRight {
    from { width: 0px; }
    to { width: 250px; }
}

@keyframes opacity {
    from { opacity: 0; }
    to { opacity: 1; }
}

#pictureCircle {
    width: 80px;
    height: 80px;
    margin: 20px auto ;
    border-radius: 100px;
    background-image: url(images/portraits.png);
    background-position: center;
    background-size: cover;
}

h3 {
    color: white;
    text-align: center;
    font-weight: 100;
    margin-bottom: 30px;
    font-size: 16px;
}

#sideMenu hr {
    margin-left: -100px;
    border: 0.5px solid white;
    margin-top: 10px;
}

#logOutB a {
    text-decoration: none;
    color:white;
}

#sideMenu ul li a {
    text-decoration: none;
    padding-top: 15px;
    font-size: 18px;
    color: white;
}

#logOut {
    background-color: #EA5045;
    border: 0px;
    font-size: 20px;
    padding: 10px;
    color: white;
    font-weight:200;
}

#logOutB {
    text-align: center;
    margin-top: 30px;
}
