body {
    margin: 0px;
    padding: 0px;
    font-family: Arial;
}
#wrapper {
    display:grid;
    grid-template-columns: 20px 1fr 1fr 1fr 20px;
    grid-template-rows: 70px 60px 300px 70px 80px;
}

header {
    grid-column: 1/span 5;
    grid-row: 1/span 1;
    background-color: #EA5045;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

header img {
    width: 120px;
    grid-column: 2/span 1;
    margin: auto;
}

#loginBox {
    grid-column: 2/span 3;
    grid-row: 3/span 1;
    background-color: black;
    display: grid;
    grid-template-columns: 15px 1fr 1fr 1fr 15px;
    grid-template-rows: 1fr 1fr 1fr 20px;
    align-items: center;
}

label {
    color: white;
}

ul {
    margin-top: 30px;
    list-style-type: none;
}

li {
    margin-left: -35px;
    margin-top: 10px;
}

form {
    grid-column: 2/span 3;
    margin-left: auto;
    margin-right: auto;
}

input[type="text"] {
    width: 250px;
    height: 20px;
    border: 0px;
}

#actionButtons {
    grid-column: 2/span 3;
    grid-row: 2/span 2;
    margin-left: auto;
    margin-right: auto;
}

#actionButtons button {
    background-color: #EA5045;
    border: 0px;
    font-size: 20px;
    padding: 10px;
    color: white;
    font-weight:200;
}

footer {
    grid-column: 2/span 3;
    grid-row: 4/span 2;
    margin: auto;
}

footer p {
    text-align: center;
}

footer button {
    background-color: black;
    padding: 8px;
    color: white;
    border: 0px;
    font-size: 14px;
}
